<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Financial App Referral</title>
  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZwT" crossorigin="anonymous">
  <style>
    /* Custom Styles */
    body {
      background-color:#2F6C6F; /* Light gray background color */
    }
    .card {
      background: #fff; /* White background for cards */
    }
.card2 {
      color: #fff; /* White background for cards */
    }
.container-style {
  width: 400px;
  background-color:red;
  color: silver;
  border-radius: 10px; /* Adjust the border-radius for rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the shadow values as needed */
  padding: 20px; /* Add padding to the container as needed */
}

  </style>
</head>
<body>

<center><div class="container-style">
 <h1 class="card2">Loan For You</h1>
<hr size="5" color="white">
 

  <div class="row">
    <% apps.forEach(app => { %>
      <div class="col-md-6 mb-4">
        <div class="card">
          <img src="/images/finance.jpg" class="card-img-top" alt="Finance Image">
          <div class="card-body">
            <h5 class="card-title"><%= app.appname %></h5>
            <p class="card-text">App ID: <%= app.appid %></p>
            <p class="card-text">URL: <a href="<%= app.appurl %>" target="_blank"><%= app.appurl %></a></p>
            <p class="card-text">Description: <%= app.description %></p>
          </div>
        </div>
      </div>
    <% }); %>
  </div>


</div>
</center>
</body>
</html>
